/*img { height:100%; width:auto; }
body {
    margin: 0;
    padding: 0;
    width: 100%; /* full window width */
    text-align: center;
}
#wrapper {
    width: 95%; /* of body width */
}
#wrapper>div {
    display: inline-block;
    width: 32%; /* of wrapper width */
    margin: auto;
    text-align: left;
}
/* alternately */
/*
#wrapper>div {
    float: left;
    width: 31%; /* of wrapper width */
    margin: 0 1%;
    text-align: left;
}
*/
